/* GENERAL */

html{
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body{
    background: url('../images/fondo.jpg') 50% 100px repeat fixed;
    background-size: cover;
    background-position: top left;
    width: 100%;
    padding-top: 70px;
}


/* HOME PAGE */
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.title{
	font-size: 3.5em;
	color:#810052;
}
.title-part-2{
	color:#363636;
}

.tagline{
	color:#585858;
	font-size: 1.55em;
	font-style: normal;
}


/* SHOW ALL PRODUCTS */

.pButton{
    width:100%;

}

/* FOOTER */
.footer{
	text-align: center;
}

.menu-footer{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-footer li{
	display: inline-block;
}



/* SINLGE PRODUCT */
.info-box{
  
}
.info-box div{
    display: inline-block;
    
  
}
.section-image{
    width:39%;
   
    align-content: center;
    text-align: center;
    vertical-align: middle;
}
.section-description{
    width:59%;
    left:0;
    vertical-align: top;

}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #810052 !important;
    border: solid 1px purple !important;

}
.btn-primary:hover{
    background-color: #b40072 !important;
}
